@import "tailwindcss";
@layer base {
  html,
  body {
    @apply overflow-x-hidden;
    width: 100%;
    position: relative;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-geist: "Geist", sans-serif;
  --color-pure-black: #000;
  --color-input-border: #0011ed;
  --color-input-placeholder: #aeaff7;
  --color-website-color-black: #212a31;
  --color-website-color-darkGray: #2e3944;
  --color-website-color-lightGray: #d3d9d4;
  --color-website-color-green: #124e66;
  --color-website-color-lightGreen: #748d92;
  --color-brand: #99f7fe;
  --background-image-card: linear-gradient(59deg, #13323d 1.79%, #0e2040 97.5%);
  --background-image-bar: linear-gradient(90deg, #37c7c1 0%, #2c59d7 100%);
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.toggle-on {
  @apply justify-end;
  background: radial-gradient(
    169.18% 110.09% at 71.56% 88.75%,
    #d1d5db 18.27%,
    #9ca3af 99.62%
  );
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
.animate-marquee:hover {
  animation-play-state: paused;
}
